@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #d1adcc;
}
/* header */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.875rem;
}

.menuToggle {
  display: none;
}

header {
  background-color: #c2d2bd;
  box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  z-index: 99;
}

a {
  text-decoration: none;
  color: #5f2c3e;
 }

.header .logo {
  font-size: 1.5rem;
}

.header .logo span {
  color: #c65032;
}

.header .navigation {
  list-style: none;
  display: flex;
}

.header .navigation li {
  margin-left: 1rem;
  font-size: 1.1rem;
  padding: 0.4rem;
}

.header .navigation li.active {
  border-bottom: 2px solid #c65032;
}

.header .navigation li:hover {
  border-bottom: 2px solid #c65032;
  cursor: pointer;
}

/* main & posts */

.main .col {
  width: 48%;
}

.post .post-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.user-info img {
  width: 2.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user-info span {
  margin-left: 0.5rem;
  color: #c65032;
}

.post p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  opacity: 0.6;
  text-align: justify;
}

.post {
  background-color: #f6e9d7;
  box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
  margin-top: 3rem;
}

.post-info {
  padding: 1rem;
}

.container.main {
  display: flex;
  justify-content: space-between;
  padding: 0.0875rem;
  margin-top: -1.5rem;
}

.post-info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-info h3 {
  font-style: italic;
}
/* footer  */

.footer {
  margin-top: 3rem;
  background-color: #f6e9d7;
  box-shadow: 0px 0 5px rgba(0,0,0,0.1);
}

.container.footer {
  text-align: center;
  padding: 1rem 0.0875rem;
}

@media (max-width: 800px) {
  .header .navigation {
    display: none;
  }

  .header .menuToggle {
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
  }

/* footer  */

.footer {
  margin-top: 3rem;
  background-color: #f6e9d7;
  box-shadow: 0px 0 5px rgba(0,0,0,0.1);
}

.container.footer {
  text-align: center;
  padding: 1rem 0.0875rem;
}
/* form */

.title {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.subscribe .btn {
	position: float;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
	background: #fff;
	border:0;
	outline: none;
	cursor: pointer;
	font-weight: 22px;
	font-size: 30px;
	border-radius: 30px;
}

.popup{
	width: 400px;
	backgroud: #fff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50% -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}
.open-popup{
	visiblity: visible;
	top: 50%;
	transform: translate(-50% -50%) scale(1);
}
.popup img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rbga(0,0,0,0.2);
}

.popup h2{
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;
}

.popup btn {
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #c2d2bd;
	color: #5f2c3e;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rbga(0,0,0,0.2);
}
	

	
	
}
	