
body {
	background-color: white;
}

.wrap {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  border-spacing: 10px;
  position: relative;
  display: flex;
}
.center {
	color: IndianRed;
	text-align: center; 
	border: 5px solid IndianRed;
	padding: 10px;
 	margin: auto;
	font-family: Verdana, "sans serif";
	font-size: 35px;
	max-width: 1280px;
}

.col1,
.col2 {
  padding: 10px;
  text-align: justify;
  width: calc(50% + 220px);
}

p {
  padding: 5px;
  margin: 0 0 1em;
  font-family: Verdana;
}
.col1:before,
.col2:before {
  float: right;
  width: 1px;
  height: 90px;
  content: " ";
}
.col2:before {
  float: left;
}
.img {
  float: right;
  clear: right;
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  shape-outside: circle(50%);
}
.col2 img {
  float: left;
  margin: 20px 20px 20px 0;
  clear: left;
}
.col1 .inner {
  margin-right: 220px;
}
.col2 .inner {
  margin-left: 220px;
}
.col2 {
  margin-left: -440px;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: block;
  }
  .col2:before {
    display: none;
  }
  .col1,
  .col2,
  .col1 .inner,
  .col2 .inner {
    width: auto;
    margin: 0;
  }
  .col2 .img {
    display: none;
  }
  .img {
    width: 50%;
    height: auto;
    min-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .col1:before {
    display: none;
  }
}


h2 {
	color: Steelblue;
	font-family: Verdana, "sans serif";
	font-size: 35px;
	text-align: center;
}
	
.parent {
	margin: auto;
 	width: 50%;
	contents-align: center;
}

.child {
	position: absolute;
	display: block;
  	margin-left: auto;
	margin-right: auto;
	width: 50%;
	z-index: 2;
}	

.watermark {
	position: relative;
	display: flex;
	opacity: 0.2;
	rotate: -45deg;
	z-index: 1;
}

hr {
	display: flex;
	border-style: dashed;
	color: IndianRed;
	border-width: 5px;
}	

h3 {	
	color: IndianRed;
	font-family: Verdana, "sans serif";
	font-size: 35px;
	text-align: center;
}

.container2 {
	width: 100%;
	margin: 2rem auto;
	padding: 20px;
	background-color: steelblue;	
}
	
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5px;	
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: contain; 
	display: block;
	background-color: lightsteelblue;
}

figure.gallery__item {
	display: inline-block;
	position: relative;
}

figcaption {
	background: rgba(0, 0, 0, 0.5);	
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	padding: .4em 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.gallery__item--1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.gallery__item--2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.gallery__item--3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.gallery__item--4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;	
}

.gallery__item--5 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;	
}

.gallery__item--6 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;	
}

