  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Satisfy&display=swap');

* {
	margin: 0;
	padding: o;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
} 

body {
  background-color: #fef9f8
}	

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.875rem;
}

.menuToggle {
  display: none;
}

header {
  