@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', sans-serif;
}

body {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-image: url('clouds.jpg');
}
/* header */
.header h1{
	display: flex;
	padding: 40px;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 40px;
	color: darkred;
	align-items: center;
	justify-content: center;
}

/* main content */ 
/* container layout as flexbox to form 2 columns */ 
.col-1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .col-1{
	float: left;
	width: 50%;
	padding: 10px;
}

/* image placed in column 1 */ 
.container .col-1 img{
	height: 300px;
	object-fit: contain;
}
/* form and buttons placed in column 2 */ 
/* box styling */ 
.col-2{
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightskyblue;
	width: 450px;
	padding: 70px 50px;
	box-shadow: 0 20px 25px rgba(0,0,0,0.25);
	border-radius: 8px;
}

/* input field styling */ 
input {
	width: 100px;
	height:50px;
	border-radius: 5px;
	border: 2px solid #d2d2d2;
	outline: none;
	margin-top: 8px;
	padding: 10px;
}
/* button styling */ 
.col-2 button {
	background-color: #E9E581;
	padding: 10px;
	margin:  15px;
	border: 2px solid lightgray;
	border-radius: 20px;
	font-size: 18px;
	color: darkred;
}
/* animations - color and cursor change with mouse hover */ 
#convert:hover {
	background-color: #87aab9;
	cursor: pointer;
}
#reset:hover {
	background-color: #87aab9;
	cursor: pointer;
}
/* footer styling */ 
footer {
	margin: auto;
	align-items: center;
	justify-content: center;
	padding: 15px;
	background-color: #E9E581;
	box-shadow: 0 20px 25px rgba(0,0,0,0.25);
	border-radius: 8px;
}
/* footer text */ 
footer p{
	color: darkred;
		font-size: 15px;
}